---
# Detect which cloud provider we're running on
# This allows conditional installation of cloud-specific tooling

- name: Check for AWS metadata service
  uri:
    url: http://169.254.169.254/latest/meta-data/
    timeout: 2
    status_code: [200, 404]
  register: aws_metadata
  failed_when: false
  changed_when: false

- name: Check for Azure metadata service
  uri:
    url: http://169.254.169.254/metadata/instance?api-version=2021-02-01
    timeout: 2
    headers:
      Metadata: "true"
    status_code: [200, 404]
  register: azure_metadata
  failed_when: false
  changed_when: false

- name: Check for GCP metadata service
  uri:
    url: http://metadata.google.internal/computeMetadata/v1/
    timeout: 2
    headers:
      Metadata-Flavor: "Google"
    status_code: [200, 404]
  register: gcp_metadata
  failed_when: false
  changed_when: false

- name: Set cloud provider fact - AWS
  set_fact:
    cloud_provider: "aws"
  when: aws_metadata.status == 200

- name: Set cloud provider fact - Azure
  set_fact:
    cloud_provider: "azure"
  when:
    - azure_metadata.status == 200
    - cloud_provider is not defined

- name: Set cloud provider fact - GCP
  set_fact:
    cloud_provider: "gcp"
  when:
    - gcp_metadata.status == 200
    - cloud_provider is not defined

- name: Set cloud provider fact - None/On-Premises
  set_fact:
    cloud_provider: "none"
  when: cloud_provider is not defined

- name: Display detected cloud provider
  debug:
    msg: "Detected cloud provider: {{ cloud_provider }}"
