---
- name: Install CloudWatch Agent (Debian/Ubuntu)
  block:
    - name: Download CloudWatch Agent (x86_64)
      get_url:
        url: https://s3.amazonaws.com/amazoncloudwatch-agent/ubuntu/amd64/latest/amazon-cloudwatch-agent.deb
        dest: /tmp/amazon-cloudwatch-agent.deb
        mode: '0644'
      when: ansible_architecture == "x86_64"

    - name: Download CloudWatch Agent (arm64)
      get_url:
        url: https://s3.amazonaws.com/amazoncloudwatch-agent/ubuntu/arm64/latest/amazon-cloudwatch-agent.deb
        dest: /tmp/amazon-cloudwatch-agent.deb
        mode: '0644'
      when: ansible_architecture == "aarch64"

    - name: Install CloudWatch Agent package
      apt:
        deb: /tmp/amazon-cloudwatch-agent.deb
        state: present

    - name: Clean up CloudWatch Agent installer
      file:
        path: /tmp/amazon-cloudwatch-agent.deb
        state: absent
  when: ansible_os_family == "Debian"

- name: Install CloudWatch Agent (openSUSE/SLES)
  block:
    - name: Download CloudWatch Agent (x86_64)
      get_url:
        url: https://s3.amazonaws.com/amazoncloudwatch-agent/redhat/amd64/latest/amazon-cloudwatch-agent.rpm
        dest: /tmp/amazon-cloudwatch-agent.rpm
        mode: '0644'
      when: ansible_architecture == "x86_64"

    - name: Download CloudWatch Agent (arm64)
      get_url:
        url: https://s3.amazonaws.com/amazoncloudwatch-agent/redhat/arm64/latest/amazon-cloudwatch-agent.rpm
        dest: /tmp/amazon-cloudwatch-agent.rpm
        mode: '0644'
      when: ansible_architecture == "aarch64"

    - name: Install CloudWatch Agent package (zypper)
      community.general.zypper:
        name: /tmp/amazon-cloudwatch-agent.rpm
        state: present
        disable_gpg_check: yes

    - name: Clean up CloudWatch Agent installer
      file:
        path: /tmp/amazon-cloudwatch-agent.rpm
        state: absent
  when: ansible_os_family == "Suse"

- name: Enable CloudWatch Agent (but don't start without config)
  service:
    name: amazon-cloudwatch-agent
    enabled: "{{ baseline_cloudwatch_agent_enabled }}"
    state: stopped
